<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CLS_Leandro_Varas.Properties.Settings.F1ConnectionString"
            connectionString="Data Source=10.0.15.133;Initial Catalog=F1;Persist Security Info=True;User ID=sa;Password=MS123456aA."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>